<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<!-- <body ng-app="myApp"> -->

<!-- <div ng-app="">
 	<p>名字 : <input type="text" ng-model="name"></p>
 	<h1>Hello {{name}}</h1>
 	<p>名字:<input type="text" ng-model="name"></p>
 	<h1>Hello {{name}}</h1>
</div> -->
<!-- <div ng-app="" ng-init="firstName='John'">

	<p>姓名为 <span ng-bind="firstName"></span></p>

</div> -->
<!-- <div data-ng-app="" data-ng-init="firstName='John'">

	<p>姓名为 <span data-ng-bind="firstName"></span></p>
</div> -->

<!-- <div ng-app="" ng-init="firstName='John'">
	<p>姓名为 <span ng-bind="firstName"></span></p>
</div> -->

<!-- <div ng-app="">
 	<p>我的第一个表达式： {{ 5 + 5 }} {{"king"+"king"}}</p>
</div> -->

<!-- <div ng-app="myApp" ng-controller = "myCtrl"> -->
	<!-- 名：<input type="text" ng-model="firstName"><br>
	姓：<input type="text" ng-model="lastName"><br>
	<br>
	姓名：{{firstName + " " +lastName}}
	<p>我的第一个表达式: {{ 5 + 5 }}</p>
	
	<div ng-init="quantity=1;cost=5">
		<p>总价：{{quantity * cost}}</p>
		
	</div>
	<div ng-init="person={firstName:'John',lastName:'Doe'}">
		<p>姓：<span ng-bind="person.lastName"></span></p>
	</div>
	<div ng-init="points = [1,15,19,2,40]">
		<p>第三个值为 {{points[2]}}</p>
	</div>
	<div  ng-init = "firstName='John'">
		<p>在输入框中尝试输入：</p>
		<p>姓名：<input type="text" ng-model="firstName"></p>
		<p>你输入的为:{{firstName}}</p>
	</div>
	
	<div ng-init = "quantity=1;price=5">
		<h2>价格计算器</h2>
		数量：<input type="number" ng-model="quantity">
		价格：<input type="number" ng-model="price">
		<p><b>总价：</b>{{quantity * price}}</p>
	</div>
	
	
	<div ng-init="names=['Jani','hege','kai']">
		<p>使用 ng-repeat 来循环数组</p>
		<ul>
			<li ng-repeat="x in names">
				{{x}}
			</li>
		</ul>
	</div> -->


	<!-- <div ng-init="names=[{name:'king',country:'ch'},{name:'king1',country:'en'},{name:'king2',country:'au'}]">
		<ul>
			<li ng-repeat="x in names">
				{{x.name + ',' + x.country}}
			</li>
		</ul>
	</div>
	</div>
	<script>
	var app = angular.module('myApp',[]);
	app.controller('myCtrl',function($scope){
	$scope.firstName = "John";
	$scope.lastName = "Doe";
	})
	
	</script> -->
	<!-- <king></king> -->
	<!-- <div king></div> -->
	<!-- <div class="king">
		
	</div> -->
	<!-- directive:king -->

	<!-- <script>
	var app = angular.module("myApp",[]);
	app.directive("king",function(){
		return{
			restrict:"M",
			replace:true,
			template:"<h1>hello king</h1>"
		}
	})
	</script> -->
	<!-- <div ng-app="myApp" ng-controller="myCtrl">
		名字：<input ng-model="name">
		<h1>你输入了:{{name}}</h1>
	</div> -->
<!-- 
	<form name="myForm">
		Email:
		<input type="email" name="myAddress" ng-model="text">
		<span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
	</form>
	<p>在输入框中输入你的邮箱地址，如果不是一个合法地址，会弹出信息。</p>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCtrl',function($scope){
			$scope.name = "John Doe";
		})
	</script>
</body> -->
<style type="text/css">
	input.ng-invalid{
		border-color:red;
	}
</style>
<body>
<!-- <form ng-app="" name="myForm" ng-init="myText = 'test@king.com'">
	Email:
	<input type="email" name="myAddress" ng-model="myText" required>
	<p>编辑邮箱地址，查看状态的改变</p>
	<h1>状态</h1>
	<p>Valid:{{myForm.myAddress.$valid}}(如何输入的值是合法的则为true)</p>
	<p>Dirty:{{myForm.myAddress.$dirty}}(如果值改变则为true)</p>
	<p>Touched: {{myForm.myAddress.$touched}}(如果通过触屏点击则为true</p>
</form> -->

<!-- <form ng-app="" name="myForm">
	输入你的名字：
	<input name="myName" ng-model="myText" required>
</form>

<p>编辑文本域，不同状态背景颜色会发送变化</p>
<p>文本域添加了required属性，该值是必须的，如果为空则是不合法的。</p> -->

<!-- <div ng-app="myApp" ng-controller="myCtrl">
	<h1>{{carname}}</h1>
</div>
<script>
	var app= angular.module('myApp',[]);
	app.controller('myCtrl',function($scope){
		$scope.carname="Volvo";
	});
</script> -->

<!-- <div ng-app="myApp" ng-controller="myCtrl">
	<h1>{{lastname}}家族成员：</h1>
	<ul>
		<li ng-repeat="x in names">
			{{x}} {{lastname}}
		</li>
	</ul>
</div>
<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope,$rootScope){
	$scope.names = ['emil','tobias','linus'];
	$rootScope.lastname = "king";
});
</script> -->

<!-- <div ng-app="myApp" ng-controller="myCtrl">
	名：<input type="text" ng-model="firstName"><br>
	姓：<input type="text" ng-model="lastName"><br>
	<br>
	姓名：{{firstName + '' + lastName}}
</div>
<script>
	var app = angular.module('myApp',[]);
	app.controller('myCtrl',function($scope){
		$scope.firstName = "John";
		$scope.lastName = "Doe";
	})
</script> -->

<div ng-app="myApp" ng-controller="personCtrl">
	名：<input type="text" ng-model="firstName"><br/>
	姓：<input type="text" ng-model="lastName"><br/>
	<br/>
	姓名：{{fullName()}}
</div>
<script>
var app = angular.module('myApp',[]);
app.controller('personCtrl',function($scope){
	$scope.firstName = "John";
	$scope.lastName = "Doe";
	$scope.fullName = function(){
		return $scope.firstName + " " +$scope.lastName;
	}
})
</script>

</body>
</html> 